################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Compressor/.vs/Compressor/FileContentIndex
/Compressor/.vs/Compressor/v17
/Compressor/x64/Debug
